<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        
        
        
        
        <h2 class="choose">Choose a theme:</h2>
        <div class="well bigWell">
            <div ng-repeat='theme in themes'>
                <div class="col-sm-2 well" >
                    <img class="thumbnails" max-width="200px" src="{{theme.image}}">
                        <h3>{{theme.name}}</h3>
                        
                        <button class="btn btn-success btn-lg go glyphicon glyphicon-ok" ui-sref='story'></button>
                </div>
            </div>
        </div>
       

<!--         <button class="btn btn-lg btn-warning" ng-click="prevPage()">Previous</button>
        <button class="btn btn-lg btn-warning" ng-click="nextPage()"> Next . . .</button> -->
        

    </div>
</div>